body {
  font-size: 14px;
  line-height: 1.462;
  font-family: Arial, sans-serif;
}
img {
  height: 175px;
  width: auto;
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: middle;


}

header{
  /* background: url('../images/logo.png'); */
  width: 150%;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 200px;
  margin-bottom: 25px;
}

select{
position: relative;
}

div #beer-detail {
display: inline-block;
}

h2 {
  margin-left: 10px;
  font-family: helvetica;
  font-size: 16pt;
  /* text-align: center; */
}

h3 {
  margin-left: 10px;
  font-family: futura;
  font-size: 12pt;
  font-weight: lighter;
  /* text-align: center; */
}


 /* li{
flex: auto;
justify-content: space-evenly;
list-style-type: none;
border: 1px solid lightgray;
box-shadow: 0 0px 10px rgba(0,0,0,0.2);
margin:  10px;
padding: 10px;
width: 200px;
height: 300px;
border-radius: 7px;
overflow: hidden;
grid-template-columns: 33% 33% 33%;
grid-gap: 18px;
list-style: none;
}

li:hover{
box-shadow: none;
transition: 0.08s;
} */

ul{
  padding: 0;
  margin: 0;
  /* float: left; */
  list-style: none;
} */
